################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/packages/EntityFramework.6.2.0
/packages/System.Data.SQLite.Linq.1.0.109.0
/packages/System.Data.SQLite.EF6.1.0.109.0
/packages
/SBD.GL.Module/Images
/deploy
/Win10Packages/AppPackages/SBD.GL.Packages_1.0.32.0_Test/Add-AppDevPackage.resources
/Win10Packages/AppPackages/SBD.GL.Packages_1.0.32.0_Test
/Win10Packages
